<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.happypiebinliu.samplelearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".UI.TextView.TextViewActivity"/>
        <activity android:name=".UI.ImageView.ImageButtonActivity"/>
        <activity android:name=".UI.TextView.EditTextActivity"/>
        <activity android:name=".UI.TextView.ToggleSwitchButton"/>
        <activity android:name=".UI.TextView.ChronometerActivity"/>
        <activity android:name=".UI.TextView.ClockAnalogText"/>
        <activity android:name=".UI.ImageView.ImageViewActivity"/>
        <activity android:name=".UI.TextView.ButtonActivity"/>
        <activity android:name=".UI.TextView.RadioAndCheckBox"/>
        <activity android:name=".UI.AdapterView.ListViewFromArrayActivity"/>
        <activity android:name=".UI.AdapterView.ListViewFromArrayAdapterActivity"/>
        <activity android:name=".UI.AdapterView.ListActivity"/>
        <activity android:name=".UI.AdapterView.ListViewFromSimpleAdapterActivity"/>
        <activity android:name=".UI.AdapterView.ListViewExtendBaseAdapterActivity"/>
        <activity android:name=".UI.AdapterView.AutoCompleteTextViewActivity"/>
        <activity android:name=".UI.AdapterView.GridViewActivity"/>
        <activity android:name=".UI.AdapterView.ExpandableListViewActivity"/>
        <activity android:name=".UI.AdapterView.SpinnerActivity"/>
        <activity android:name=".UI.AdapterView.AdapterViewFlipperActivity"/>
        <activity android:name=".UI.AdapterView.StackViewActivity">
        </activity>
        <activity android:name=".UI.ProgressBar.ProgressBarActivity">
        </activity>
        <activity android:name=".UI.ProgressBar.SeekBarActivity">
        </activity>
        <activity android:name=".UI.ProgressBar.RatingBarActivity">
        </activity>
        <activity android:name=".UI.ViewAnimator.ViewSwitcherActivity">
        </activity>
        <activity android:name=".UI.ViewAnimator.ImageSwitcherActivity">
        </activity>
        <activity android:name=".UI.ViewAnimator.TextSwitcherActivity">
        </activity>
        <activity android:name=".UI.ViewAnimator.ViewFlipperActivity">
        </activity>
        <activity android:name=".UI.Others.ToastActivity">
        </activity>
        <activity android:name=".UI.Others.CalendarViewActivity">
        </activity>
    </application>

</manifest>