<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.happypiebinliu.samplelearning">

    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ActivityUI.TextView.TextViewActivity"/>
        <activity android:name=".ActivityUI.ImageView.ImageButtonActivity"/>
        <activity android:name=".ActivityUI.TextView.EditTextActivity"/>
        <activity android:name=".ActivityUI.TextView.ToggleSwitchButton"/>
        <activity android:name=".ActivityUI.TextView.ChronometerActivity"/>
        <activity android:name=".ActivityUI.TextView.ClockAnalogText"/>
        <activity android:name=".ActivityUI.ImageView.ImageViewActivity"/>
        <activity android:name=".ActivityUI.TextView.ButtonActivity"/>
        <activity android:name=".ActivityUI.TextView.RadioAndCheckBox"/>
        <activity android:name=".ActivityUI.AdapterView.ListViewFromArrayActivity"/>
        <activity android:name=".ActivityUI.AdapterView.ListViewFromArrayAdapterActivity"/>
        <activity android:name=".ActivityUI.AdapterView.ListActivity"/>
        <activity android:name=".ActivityUI.AdapterView.ListViewFromSimpleAdapterActivity"/>
        <activity android:name=".ActivityUI.AdapterView.ListViewExtendBaseAdapterActivity"/>
        <activity android:name=".ActivityUI.AdapterView.AutoCompleteTextViewActivity"/>
        <activity android:name=".ActivityUI.AdapterView.GridViewActivity"/>
        <activity android:name=".ActivityUI.AdapterView.ExpandableListViewActivity"/>
        <activity android:name=".ActivityUI.AdapterView.SpinnerActivity"/>
        <activity android:name=".ActivityUI.AdapterView.AdapterViewFlipperActivity"/>
        <activity android:name=".ActivityUI.AdapterView.StackViewActivity"/>
        <activity android:name=".ActivityUI.ProgressBar.ProgressBarActivity"/>
        <activity android:name=".ActivityUI.ProgressBar.SeekBarActivity"/>
        <activity android:name=".ActivityUI.ProgressBar.RatingBarActivity"/>
        <activity android:name=".ActivityUI.ViewAnimator.ViewSwitcherActivity"/>
        <activity android:name=".ActivityUI.ViewAnimator.ImageSwitcherActivity"/>
        <activity android:name=".ActivityUI.ViewAnimator.TextSwitcherActivity"/>
        <activity android:name=".ActivityUI.ViewAnimator.ViewFlipperActivity"/>
        <activity android:name=".ActivityUI.Others.ToastActivity"/>
        <activity android:name=".ActivityUI.Others.CalendarViewActivity"/>
        <activity android:name=".ActivityUI.Others.DateTimePickerActivity"/>
        <activity android:name=".ActivityUI.Others.NumberPickerActivity"/>
        <activity android:name=".ActivityUI.Others.SearchViewActivity"/>
        <activity android:name=".ActivityUI.Others.TabHostActivity"/>
        <activity android:name=".ActivityUI.Others.ScrollViewActivity"/>
        <activity android:name=".ActivityUI.Others.NotificationActivity"/>
        <activity android:name=".ActivityUI.Others.OtherActivity"/>
        <activity android:name=".ActivityUI.Dialog.SimpleAlterDialogActivity"/>
        <activity android:name=".ActivityUI.Dialog.DialogThemeActivity"/>
        <activity android:name=".ActivityUI.Dialog.PopupWindowActivity"/>
        <activity android:name=".ActivityUI.Dialog.DateTimePickerDialogActivity"/>
        <activity android:name=".ActivityUI.Dialog.ProgressDialogActivity"/>
        <activity android:name=".ActivityUI.Menu.SubMenuActivity"/>
        <activity android:name=".ActivityUI.Menu.ContextMenuActivity"/>
        <activity android:name=".ActivityUI.Menu.MenuFromXMLActivity"/>
        <activity android:name=".ActivityUI.Menu.PopupMenuActivity"/>
        <activity android:name=".ActivityUI.ActionBar.ActionBarActivity"/>
        <activity android:name=".ActivityUI.ActionBar.ActionBarFromViewActivity"/>
        <activity android:name=".ActivityUI.ActionBar.ActionBarTabActivity"/>
        <activity android:name=".ActivityUI.ActionBar.ActionBarOldVerActivity"/>
        <activity android:name=".ActivityUI.ActionBar.ActionBarDropListActivity"/>
        <activity android:name=".ActivityEvent.KeyListenerActivity"/>
        <activity android:name=".ActivityEvent.SendSmsActivity"/>
        <activity android:name=".ActivityEvent.CallBackDrawActivity"/>
        <activity android:name=".ActivityEvent.ConfigurationActivity"/>
        <activity android:name=".ActivityEvent.HandlerActivity"/>
        <activity android:name=".ActivityEvent.LooperHandlerActivity"/>
        <activity android:name=".ActivityEvent.AsyncTaskActivity"/>
        <activity android:name=".Activity.LauncherActivity"/>
        <activity android:name=".Activity.LauncherIntentResourceActivity"/>
        <activity android:name=".Activity.MainGuidanceActivity"/>
        <activity android:name=".Activity.LauncherActivityAndFragment"/>
        <activity android:name=".Activity.ExpandableListActivity"/>
        <activity android:name=".Activity.PreferenceTestActivity"/>
        <activity android:name=".Activity.PutextrasBundleActivity"/>
        <activity android:name=".Activity.getextrasBundleActivity"/>
        <activity android:name=".Activity.StartActivityForResultActivity"/>
        <activity android:name=".Activity.SelectCityActivity"/>
        <activity android:name=".Activity.BookTwopaneActivity"/>
        <activity android:name=".Activity.BookListActivity"/>
        <activity android:name=".Activity.BookDetailActivity"/>
        <activity android:name=".ActivityResource.ValuesResColorStringDimenActivity">
        </activity>
        <activity android:name=".ActivityResource.StateListDrawableActivity">
        </activity>
        <activity android:name=".ActivityResource.LayerListActivity">
        </activity>
    </application>

</manifest>